.experience{

    background:#f8fafc;

}

.timeline{

    position:relative;

    max-width:900px;

    margin:auto;

}

.timeline::before{

    content:"";

    position:absolute;

    left:20px;

    top:0;

    bottom:0;

    width:4px;

    background:#2563eb;

}

.timeline-item{

    display:flex;

    gap:30px;

    margin-bottom:50px;

    position:relative;

}

.timeline-dot{

    width:18px;

    height:18px;

    border-radius:50%;

    background:#2563eb;

    margin-top:8px;

    z-index:1;

}

.timeline-content{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:var(--shadow);

    flex:1;

}

.duration{

    display:inline-block;

    background:#dbeafe;

    color:#1d4ed8;

    padding:6px 15px;

    border-radius:25px;

    font-size:14px;

    margin-bottom:15px;

}

.timeline-content h3{

    color:var(--dark);

    margin-bottom:8px;

}

.timeline-content h4{

    color:var(--primary);

    margin-bottom:20px;

}

.timeline-content ul{

    padding-left:20px;

}

.timeline-content li{

    margin-bottom:12px;

    line-height:28px;

}